@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3 Georgia, serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #ccc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
  padding-bottom: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

ul li {
  list-style-type: none;
  width: 100%;
}

ul a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 1.125rem;
  padding: .75rem;
  background-color: #333;
}

ul {
  padding: 0;
  margin: 0;
}

.nav a:hover {
  background-color: #ff33cc;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  margin: .5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: #333;

}

.try {
  background-color: #fff;
  padding: .7rem;
  border-radius: .7rem;
  margin-bottom: 3rem;
}

main {
  margin: .5rem;
}

h3,
dt {
  font-family: 'Pacifico', cursive;
  color: #333;
  font-size: 1.5rem;
  margin: .5rem;
  margin-top: 1.5rem;
}

.main-box {
  display: inline-block;
}

.ingredients {
  list-style-type: circle;
}
.ingredients-box {
  border-width: .5rem;
  border-style: dashed;
  border-color: #fff;
  margin-bottom: 3rem;
  padding: 1rem;
}

.ingredients-box h3 {
  margin-top: .7rem;
}

.makers {
  text-align: center;
}

.makers-p {
  padding: 0;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.img-ingredients1,
.img-ingredients2 {
  width: 50%;
  display: inline-block;
  float: left;
}

.button {
  text-align: center;
}

.button a {
  margin: 1rem;
  text-decoration: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  padding: .4em .75em .3em;
  display: inline-block;
  font-size: 1.125rem;
}

.order {
  background-color: #333;
  color: #fff;
  border-color: #333;
  display: inline-block;
}

.button a:hover {
  background-color: #ff33cc;
  border-color: #ff33cc;
}

img {
  padding-bottom: 3rem;
}

.who-are-we {
  max-width: 54em;
  padding: 1em;
  border-width: .2em;
  border-style: solid;
  border-color: #fff;
  display: block;
  clear: both;
}

.who {
  clear: both;
}

.hours {
  font-size: 2rem;
  text-decoration: underline;
  clear: both;
}

dd {
  display: inline-block;
  margin-left: 0;
}

dt {
  display: inline-block;
  margin-top: 0;
}

footer p {
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  margin: 0;
  border-color: #fff;
  border-style: solid;
  border-width: .5em;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  h1 {
    font-size: 3rem;
  }

  ul li {
    width: 50%;
    float: left;
  }

  ul {
    text-align: center;
  }

  .nav {
    overflow: hidden;
  }

  .try {
    margin: auto;
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 0;
  }

  .makers-box {
    max-width: 40em;
  }

  .ingredients-box {
    max-width 40em;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  h1 {
    font-size: 4rem;
  }

  .makers {
    margin: 0;
  }

  .makers-p {
    margin-bottom: 0;
  }

  .main-box {
    margin-bottom: 2rem;
  }

  .makers-box {
    margin: auto;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  ul li {
    width: 25%;
    float: left;
  }
  .ingredients-box {
    margin: auto;
    float: left;
    margin-bottom: 2rem;
    width: 100%;
  }

  .main-box {
    width: 45%;
  }

  .makers-box {
    float: right;
    width: 45%;
  }

  .img-ingredients1,
  .img-ingredients2 {
    max-width: 27em;
  }

  h1 {
    font-size: 5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .main-box {
    max-width: 40em;
  }

  .makers-box {
    max-width: 40em;
  }

}
